.title-box{
    border: 1px solid #2F5496;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #2F5496;
    text-align: center;
    font-size: 60px;
}
.nav-box{
    border: 2px solid black;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #8DA9DB;
    text-align: center;
    font-size: 20px;
}
.nav-section{
    float: left;
    border: 2px solid black;
    padding: 8px;
    margin-top: -22px;
    margin-left: -22px;
    margin-right: 22px;
    width: 20%;
}
.nav-clicked{
    float: left;
    border: 2px solid black;
    padding: 8px;
    margin-top: -21px;
    margin-left: -22px;
    margin-right: 22px;
    width: 20%;
    background-color: #3B6ABE;
}
.field{
    width: 80%;
    border: 2px solid black;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.field-label{
    float: left;
    font-size: 48.75px;
    width: 70%;
    background-color: #3B6ABE;
}
.field-input{
    background-color: #3B6ABE;
    color: white;
}
.field-set-title{
    font-size: 40px;
}
.field-set{
    float: left;
    width: 50%;
}
.field-set-title{
    text-align: center;
}
.input{
    background-color: white;
}